@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
:root {
  --rainbow: linear-gradient(90deg, #845EC2, #E2F4FB, #3C8DA8, #FEFEDF);
}

* {
	margin: 0;
	padding: 0;
}

body {
  background-image: var(--rainbow);
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
h1{
  text-align: center;
  margin-top: 20px;
}

img {
  border-radius: 30px;
  padding: 10px;
  background-color: white;
  box-shadow: 10px 10px 20px rgba(227, 15, 15, 0.2);
}
