/* @import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Bree+Serif&family=Metal+Mania&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lato&display=swap'); 
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #1F6631;
  --secondary-color:#7FCC29;
  --accent1-color: #FF2905;
  --accent2-color: #EDCE27;
  --accent3-color: #7C1654;
  --accent4-color: #361C29;
  --font1: 'Bree Sans';
  --font2: Lato;

}
*{
  padding: 0;
  margin: 0;
}
img{
  width: 100%;
}
nav, main, .foot-container {
  margin: auto;
}
.bountiful-header{
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bountiful-header img{
  width: 30%;
}
.hamBtn{
  font-size: large;
  font-weight: 700;
  background-color: transparent;
  border: none;
}
button.hamBtn span:nth-of-type(2) {
  display: none;
}
.hamBtn.open span:first-of-type {
  display: none;
}
button.hamBtn.open span:nth-of-type(2) {
  display: block;
}
.hamBtn span:first-child{
  display: block;
}
nav{
  background-color: var(--secondary-color);
  padding: .5em;
  position: relative;
  display: flex;
  justify-content: space-between;
}

nav ul{
  position: absolute;
  background: var(--secondary-color);
  top: 3.5em;
  display: block; 
  width: 50%;
  left: -65%;
  padding: 1em;
  transition: all 1s ease-out;
  height: 100vh;
  z-index: 10;
  /* overflow: hidden; */
}
nav ul.open{
  left: -.5em;
}
.navi li{
  list-style: none;
  padding: .5em;
  font-family: var(--font1);
  font-size: 1.5em;
}
.navi li a{
  text-decoration: none;
  color: black;
  
}
.navi li a:hover{
  color: #fff;
}
nav, main, .foot-container{
  max-width: 900px;
}
.social{
  display: flex;
  justify-content: center;
  align-items: center;
}
.social img{
  width: 42px;
}
div.hero{
  position: relative;
}
div.hero img {
  height: 20em;
  object-fit: cover;
}
.action {
  background: #EDCE27;
  position: absolute;
  font-size: 2em;
  bottom: 3em;
  left: 1em;
  padding: 0.5em;
  box-shadow: 0 0 30px #777;
  cursor: pointer;
}
.action a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.action a:hover {
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  
}
/* section.summary {
  grid-row: 1/2;
} */
section.summary h3 {
  font-size: 1.7em;
}
.fruit {
  padding: 1em;
  border: 1px solid;
  border-radius: 1em;
}
section.summary {
  padding: 1em;
  /* grid-column: 2/3;
  grid-row: 1/3; */
  border: 1px solid;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 1.3em;
}
.currentW {
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
      'img temp'
      'img temp'
      'desc hum';
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.weather img {
  width: 80px;
}

.currentemp{grid-area:temp;
font-size: 3rem;}
.hum{grid-area: hum;}
.desc{grid-area: desc;}
.fore-col{
  width: 100%;
}
/* .fore-col .col:nth-child(odd){
  background-color: #63a4ff;
} */
.weather{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: floralwhite;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow:  4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  width: 100%;
  /* grid-row: 3/4; */
}

.temp{
  font-size: 1.5rem;
}
.humicon{
  width: 10px;
}
.col{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

footer{
  background: var(--secondary-color);
}
.foot-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.logofooter {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}
.locationinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5em;
}
.logofooter img {
  width: 100px;
  background: white;
  padding: 0.5em;
  border-radius: 50%;
}
p.bottom {
  text-align: center;
  padding: 1em;
  border-top: 2px solid;
}

/*about-us*/
.about-container {
  padding: .5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.company.history h3, .contact-us h4 {
  margin: .75em;

}
.company.history, .contact-us{
  padding: .5em;
  border: .1em solid;
  box-shadow: 0 0 30px #777;
  border-radius: .5em;
}
.contact-us {
  padding-top: 0.3em;
  border-radius: .5em;
}
.map {
  width: 100%;
}

/*fresh*/
.fresh{
  background-image: url('../images/fruit_bg.jpg');
  background-size: cover;
  background-position: center;
}

/*form*/
.form {
  padding: 10px;
}

.form label.top,
.form div {
  display: block;
  padding-top: 1rem;
  font-size: 0.8rem;
}

.form label.top input,
.form label.top select,
.form label.top textarea {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  margin-left: 5px;
  /* color: #555; */
  background-color: #fff7effb;
}

.form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: var(--headline-color-on-color);
}

button.submit-btn {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 1rem;
  padding: 0.75rem;
  margin-top: 15px;
  margin-left: 3px;
  width: 96%;
  max-width: 20rem;
}

button.reset-btn {
  background-color: var(--accent1-color);
  color: white;
}

button.submit-btn:hover {
  background-color: var(--accent2-color);
  cursor: pointer;
}

.form label.top input {
  border-left: #fff7effb solid 6px;
}

.form label.top input:required {
  border-left: var(--accent1-color) solid 6px;
}

.form label.top input:required:valid {
  border-left: green solid 6px;
}

.scrollable {
  overflow-y: scroll;
  height: 200px;
}

.selected {
  background-color: var(--accent1-color);
  color: #fff;
}

div.drink-nutrition-outer-div,
div.drink-list-outer-div,
div.drink-qr-outer-div,
form.drink-order-form {
  border: 1px solid;
  border-radius: 10px;
  width: 260px;
  margin: 1.5rem auto 0;
  padding: 10px 5px;
  background: #ede72757;
}

div.drink-nutrition-outer-div,
div.drink-list-outer-div {
  justify-self: start;
}

fieldset {
  border: none;
}

table tr td h2,
table tr td p {
  margin: 5px 0 0 4px;
  font-size: small;
}

table.drink-nutrition-table tr td:nth-child(1) {
  width: 80px;
}

table.drink-nutrition-table tr td:nth-child(2) {
  width: 170px;
  max-width: 170px;
  overflow-wrap: anywhere;
}

div.drink-qr-outer-div img {
  margin-top: 20px;
  display: block;
}

div.drink-qr-outer-div {
  display: none;
}

div.drink-qr-outer-div.has-qr {
  display: block;
}

div.drink-qr-outer-div h3 {
  margin: 20px;
}

table.drink-list tr td p {
  margin: 10px;
  font-size: medium;
}

.fresh-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}