@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    font-family: "Merriweather", serif;
    font-family: "Montserrat", sans-serif;

    --rainbow: linear-gradient(90deg, #845EC2, #E2F4FB, #3C8DA8, #FEFEDF);
    --color1: #845ec2;
    --color2: #E2F4FB;
    --color3: #3C8DA8;
    --fontcolor: #4B4453;
    --nav: #FEFEDF;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
/*general style*/

img{
  width: 100%;
}
h1,h2,h3,h4{
  font-family: Merriweather;
}
p{
  font-family: Montserrat;
}
nav, main, .foot-container{
  max-width: 900px;
}
  /*header*/

#banner {
  text-align: center;
  background-color: #3C8DA8;
}

header{
    display: flex;
    background-image: var(--rainbow);
    flex-direction: column;
   
  }
nav{
  display: flex;
  max-width: 900px;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
  width: 95%;
}
.hamBtn{
  /*margin: 0.2rem 2vw;*/
  background: transparent;
  font-size: 2rem;
  border: none;
}
.hamBtn span:nth-child(2) {
  display: none;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img{
  width: 50px;
  
}
.company-name{
  margin-left: 10px;
}
.company-name h1{
  font-size: 15px;
  font-family: Merriweather;
  margin-bottom: 2px;
}
.company-name p{
  font-size: 10px;
  font-family: Merriweather;
  font-weight: bold;
}
.navi li{
  list-style: none;
}
nav ul.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-image: var(--rainbow);
  width: 100%;
  left: 0;
  top: 110px;
 
}
.navi li a{
  display: block;
  color: black;
  font-weight: bold;
  text-decoration: none;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.5);*/
  padding: 0.5rem 1rem;
}
nav ul li a:hover {
  background-color: var(--color2);
  /*background-color: rgba(0, 0, 0, 0.3);*/
}
.navi{
  display: none;
}
.social{
  display: flex;
  justify-content: center;
  align-items: center;
}
.social img{
  width: 40px;
}
header p.currentDate{
  text-align: center;
  background-color: var(--nav);
  padding: 10px;
}

/*main*/
main {
  padding: 10px;
  margin: 10px;
  display: grid;
  margin: auto;
  gap: 10px;
}

main section {
  text-align: start;
  /*padding: 10px 100px 100px 10px;*/
  /*border: 1px solid black;*/
 /* margin: 5px;*/
  background-color: var(--nav);
  box-shadow: 5px 5px 10px rgb(70 69 69 / 20%);

}
.event, .weather, .join, .news{
  padding: 15px;
}
section.hero{
  position: relative;
}
section.hero h2{
  position: absolute;
  top: 30px;
  left: 50px;
}
section.hero div{
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-color: var(--color3);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(70 69 69 / 20%); 
}

section.hero div a{
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.5em;
  font-family: Merriweather;
  color: var(--nav); 
}
.action {
margin-bottom: 15px;
/*margin-left: 20%;*/
}
section.hero div a:hover{
 color: black;
}
section.hero img{
  height: 100%;
}

section.event{
  padding: 15px;
}
section.event h4{
  margin: 12px auto;
  font-size: .9em;
  text-align: center;

}
section.event p{
  font-size: .9em;
  text-align: center;
}
section.event p a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
section.event p a:hover{
  background-color: var(--color3);
  color: var(--nav);
  padding: 2px;
}

section h3{
  font-size: 1em;
  text-align: center;
}
.side_by_side{
  display: flex;
  flex-direction: row;
}
.side_by_side img{
  width: 50%;
  justify-content: center;
  align-items: center;
}
.side_by_side h4{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 1.5em;
}
.align_right{
  text-align: right;
  font-size: .8em;
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
.weather-info{
  display: grid;
  grid-template-columns: 1fr .65fr;
  margin-top: 10px;
}
.wspeed-label{
  grid-column: 1/2;
  text-align: right;
}
.wind-speed{
  grid-column: 2/3;
  text-align: center;
}
.wchill-label{
  grid-column: 1/2;
  text-align: right;
}
.wind-chill{
  grid-column: 2/3;
  text-align: center;
}
.contrast_heading{
  background-color: var(--color3);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  color: var(--nav);
  font-family: Merriweather;
}
.contrast_heading a{
  text-decoration: none;
  color: var(--nav);
  font-weight: bolder;
}
.join p{
  margin-top: 10px;
  font-size: .9em;
}
.news p{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .9em;
}
.spothlight1, .spothlight2, .spothlight3{
  padding: 15px;
  text-align: center;
} 
.spothlight1 hr, .spothlight2 hr, .spothlight3 hr{
  margin-top: 8px;
}
.spothlights a{
  text-decoration: none;
  color: black;
}
span.spotlight_icon{
  font-size: 60px;
  display: flex;
  justify-content: center;
}
span.spotlight_icon + p{
  margin-top: 10px;
  margin-bottom: 10px;

}

section.spothlights {
  padding: 10px;
}


section.join,
section.spothlight3 {
  display: none;
}
.spothlight3  {
  align-items: center;
}
section.spothlight1,
section.spothlight2 {
  grid-area: auto;
}
.spothlight3 img {
  width: 60px;
  height: auto;
  margin-top: 5px;
}
/*footer*/
footer{
  background-image: var(--rainbow);
  
}
.foot-container{
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.logofooter{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.logofooter img{
  width: 100px;
}
.locationinfo{
  display: flex;
  flex-direction: column;
  /*text-align: center;*/
  margin: 10px 0;
  
}
.info{
  text-align: left;
}
.info a{
  text-decoration: none;
  color: black;
}
.bottom {
  border-top: 1.5px solid;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}