
@media only screen and (min-width: 748px)
{

    header h1 {
        font-size: 2em;
        margin: 0px;
    }

    main {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat (5,0fr);
    }

    





}
