@media only screen and (min-width: 27em) {
  .container {
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: repeat(5, 0fr);*/
  }

  section.hero {
    grid-column: 1/3;
    grid-row: 1;
  }

  section.news {
    grid-column: 1/3;
    grid-row: 2;
  }

  .spothlights {
    display: flex;
    grid-column: 1/-1;
    gap: 10px;
  }
  section.spothlight1 {
    width: 50%;
  }

  section.spothlight2 {
    width: 50%;
  }

  section.join {
    display: inline;
    grid-column: 1/3;
    grid-row: 4;
  }

  section.event {
    grid-column: 1/2;
    grid-row: 5;
  }

  section.weather {
    grid-column: 2/3;
    grid-row: 5;
  } 
  .foot-container {
    flex-direction: row;
  }
  .locationinfo{
    margin: 10px 30px 10px 10px;
  }
  p.bottom{
    flex: 0 0 100%;
  }
  /*discover*/
  section.discover{
    flex-direction: row;
  }
  section.discover div{
    width: 50%;
  }
  section.discover picture{
    width: 50%;
  }

  /*join*/
  main.center {
    max-width: max-content;
    justify-content: space-evenly;
  }
  .form{
    width: 50%;
  }
  .hide-base {
    display: block;
  }

  .member-list a.member-email {
    display: block;
    width: 230px;
  }
  }