a:link{
    color: orange;
  }
  a:visited {
    color: green;
  }
  
  p a:hover {
    text-decoration: none;
  }
  
  div p:first-of-type:first-line {
  color: red;
  }

  div p:first-of-type {
  font-size: 150%;
  }
  
  
  
  