@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    font-family: "Merriweather", serif;
    font-family: "Montserrat", sans-serif;

    --gradient: linear-gradient(90deg, #845EC2, #E2F4FB, #3C8DA8, #FEFEDF);
    --color1: #845EC2;
    --color2: #E2F4FB;
    --color3: #3C8DA8;
    --fontcolor: #4B4453;
    --nav: #FEFEDF;
  }
body {
    margin: 0px;
    max-width: 100%;
    background-color: var(--gradient);
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3C8DA8;
  }

  .headercolor {
    background-color: #3C8DA8;
  }
  
  .headerfirst {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .akamira {
    display: flex;
    flex-direction: column;
    font-family: "Merriweather" serif;
    padding: 5px;
  }
  
  h1 {
    font-size: 20px;
    margin: 0px;
  }
  
  #smallchamberofcommerce {
    font-size: 15px;
  }
  
  .logoname {
    align-items: center;
    /*margin-left: 0.5rem;*/
  }
  
  .currentDate {
    background-color: var(--nav);
    width: 100%;
    margin: 10px;
    grid-column: 1/4;
    grid-row: 2;
  }
  
  header,
  footer {
    text-align: center;
    color: black;
    background-color: var(--gradient);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  
  p,
  nav,
  footer {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  
  footer p,
  footer a {
    margin: 10px;
  }
  
  footer a {
    text-decoration: none;
    color: white;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 10px;
    margin: 10px;
    display: grid;
  }
  
  main section {
    text-align: start;
    padding: 10px 100px 100px 10px;
    border: 1px solid black;
    margin: 5px;
    background-color: skyblue;
  }
  
  section.spothlights {
    padding: 0px;
  }
  
  section.join,
  section.spothlight3 {
    display: none;
  }
  
  section.spothlight1,
  section.spothlight2 {
    grid-area: auto;
  }
  
  nav button {
    margin: 0.2rem 2vw;
    background: transparent;
    font-size: 2rem;
    color: white;
    border: none;
  }
  
  nav ul {
    display: none;
    margin: 0px;
    padding: 0px;
  }
  
  nav ul li {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
  }
  
  nav ul li a {
    display: block;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
  }
  
  nav ul li a:hover {
    background-color: #fe8f28;
    /*background-color: rgba(0, 0, 0, 0.3);*/
  }
  
  nav ul.open {
    display: block;
  }
  
  #hamburgerBtn span:nth-child(1) {
    display: block;
  }
  
  #hamburgerBtn.open span:nth-child(1) {
    display: none;
  }
  
  #hamburgerBtn span:nth-child(2) {
    display: none;
  }
  
  #hamburgerBtn.open span:nth-child(2) {
    display: block;
  }
  img {
    width: auto;
    height: 35px;
    /*border: dotted red;*/
  }
  
  hr {
    border: 0px;
    width: 95%;
    background-color: var(--fontcolor);
    height: 1px;
  }
  
  .fa {
    padding: 5px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px;
  }
  
  .fa:hover {
    opacity: 0.8;
    /*background-color: #fe8f28;*/
  }
  
  .fa-facebook {
    background: #3b5998;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  h1 + p,
  h1 + p + p {
    margin: 0px;
    font-style: italic;
  }
  
  div + h1 {
    font-size: 22px;
  }
  