@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    font-family: "Merriweather", serif;
    font-family: "Montserrat", sans-serif;

    --rainbow: linear-gradient(90deg, #845EC2, #E2F4FB, #3C8DA8, #FEFEDF);
    --color1: #845ec2;
    --color2: #E2F4FB;
    --color3: #3C8DA8;
    --fontcolor: #4B4453;
    --nav: #FEFEDF;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}
.logo img{
    width: 50px;
    margin-right: 10px;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 425px;
    padding: 10px;
    max-width: 900px;
    margin: auto;
    
}
.logo{
    display: flex;
    align-items: center;
}
.navi{
    display: none;
}

header{
    background-image: var(--rainbow);
    margin: 0 auto;
}
.hamBtn{
    margin: 0.2rem 2vw;
    background: transparent;
    font-size: 2rem;
    border: none;
}
nav ul.open {
    display: block;
  }
nav li{
    list-style: none;
    
}
nav li a{
    display: block;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    
    
}
nav ul li a:hover {
    background-color: #fe8f28;
    /*background-color: rgba(0, 0, 0, 0.3);*/
  }
.head{
    position: relative;
  }
ul.open{
    position: absolute;
    top: 104px;
    width: 100%;
    margin-left: -10px;
    background-image: var(--rainbow);
}
.hamBtn span:nth-child(1) {
    display: block;
  }
  
  .hamBtn.open span:nth-child(1) {
    display: none;
  }
  
  .hamBtn span:nth-child(2) {
    display: none;
  }
  
  .hamBtn.open span:nth-child(2) {
    display: block;
  }
.company-name h1{
    font-size: 15px;
    font-family: Merriweather;
}
.company-name p{
    font-size: 10px;
    font-family: Merriweather;
    font-weight: bold;
}
.social img{
    width: 40px;
}

p.currentDate{
    font-size: 15px;
    text-align: center;
    background-color: var(--nav);
    width: 100%;
    padding: 5px;
}

 
  footer {
    text-align: center;
    color: black;
    background-image: var(--rainbow);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  p,
  nav,
  footer {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  
  footer p,
  footer a {
    margin: 10px;
  }
  
  footer a {
    text-decoration: none;
    color: white;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 10px;
    margin: 10px;
    display: grid;
  }
  
  main section {
    text-align: start;
    padding: 10px 100px 100px 10px;
    border: 1px solid black;
    margin: 5px;
    background-color: var(--nav);
  }
  
  section.spothlights {
    padding: 0px;
  }
  
  section.join,
  section.spothlight3 {
    display: none;
  }
  
  section.spothlight1,
  section.spothlight2 {
    grid-area: auto;
  }


  
  hr {
    border: 0px;
    width: 95%;
    background-color: var(--fontcolor);
    height: 1px;
  }
  

  
  h1 + p,
  h1 + p + p {
    margin: 0px;
    font-style: italic;
  }
  
  div + h1 {
    font-size: 22px;
  }
  
base.css
Displaying base.css.