@media only screen and (min-width: 1024px)
{
    header nav ul {
        flex-direction: row;
        justify-content: space-evenly;
    }
    header nav ul li {
        width: 100%;
    }
    main {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, 9em);
    }






}